body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid rgb(0, 0, 0, 0.15);
    padding: 1rem;
    background-color: #aecae6;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section{
    padding: 1rem;
    background-color: #fff;
}