:root {
    --dark: #2c3e50;
    --blue: #3498db;
    --light: #ecf0f1;
    --text: #1f2d3d;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--light);
    color: var(--text);
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
    background-color: var(--dark);
    color: var(--light);
}

.main-nav a {
    margin-left: 20px;
    font-weight: bold;
    color: var(--light);
    text-decoration: none;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 40px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.quick-links,
.welcome,
.announcements {
    background: white;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #d1d1d1;
}

.btn {
    display: inline-block;
    margin: 10px 10px 0 0;
    padding: 10px 14px;
    background-color: var(--blue);
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

.site-footer {
    text-align: center;
    padding: 18px;
    background-color: var(--dark);
    color: var(--light);
    margin-top: 30px;
}

@media screen and (max-width: 768px) {
    .home-grid {
        grid-template-columns: 1fr;
    }

    .site-header {
        text-align: center;
        flex-direction: column;

    }

    .site-footer{
        margin-top: 30px;
    }
}