* {
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

main {
    padding: 20px;
}

h1 {
    margin-bottom: 30px;
}

img {
    display: block;
    margin: 0 auto 40px;
    width: 400px;
    height: 600px;
    background-color: black;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

footer {
    background: #222;
    color: white;
    color: white;
    padding: 15px;
    font-size: 0.9rem;
}


/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

