@media (min-width:40rem) {
    nav ul {
        flex-direction: row;
        justify-content: center;
    }
    nav a {
        padding: 1rem 1.5rem;
    }
    main {
        max-width: 960px;
    }

    #temples {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
    }

    .temple-card {
        border: 1px solid #ccc;
        padding: 1rem;
        text-align: center;
        background-color: #f9f9f9;
    }

    .temple-card h3 {
        margin: 0;
    }

    .temple-card img {
        max-width: 100%;
        height: auto;
        margin-bottom: 0.5rem;
    }

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
        justify-content: center;
    }

    .navigation a {
        display: block;
    }
}