:root {
    --primary-color: #008753;
    --secomary-color: #ffffff;
    --accent-color: #000000;
    --background-color: #f4f4f4;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    background-color: var(--background-color);
    color: #000;
}

header,
footer {
    background-color: var(--primary-color);
    color: var(--secomary-color);
    text-align: center;
    padding: 1rem;
}

main {
    display: grid;
    gap: 1.5rem;
    padding: 1rem;
    max-width: 1100px;
    margin: 0 auto;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

section {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 6px;
    margin-bottom: 2rem;
}

.weather {
    text-align: left;
    justify-self: center;
    padding: 1.5rem;
    list-style: none;
    
    
}

.data{
    justify-self: center;

}

h2 {
    margin-top: 0;
}

.label {
    font-weight: bold;
}

.weather-icon {
    width: 60px;
    margin-bottom: 0.5rem;
}
